* {
  margin: 0;
  padding: 0;
}

.dropdown {
  background-color: green;
  color: white;
  border-radius: 2px;
  padding: 10px 55px;
}
.hover a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: antiquewhite;
  width: 175px;
  padding-bottom: 10px;
}

