* {
  margin: 0;
  padding: 0;
}

.dropdown {
  background-color: green;
  color: white;
  border-radius: 2px;
  padding: 10px 55px;
  position: relative;
}
.hover  {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  text-decoration: none;
  background-color: antiquewhite;
  width: 175px;
  padding-bottom: 10px;
}
.links:hover .hover {
    display: flex;
    position: absolute;
}


